.bannerWrap {
    background-color: @themeBgColor;
    .forPad({
        margin-bottom: 0px!important;
        .cardWrap > div { 
            position: relative;
            top: -40px;
        }
        .banner {
            flex-direction: column;
            img {
                height: 60%;
            }
        }
        .dontRbanner {
            padding-top: 20px;
        }
        .titleWrap {
            align-items: center;
            text-align: center;
        }
        .dontRTitle {
            font-size: 28px;
        }
        .dontRDescTitle {
            font-size: 20px!important;
        }
    });
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 100%;
        flex: 1;
    }
}
.dontRbanner {
    height: 500px;
}
.titleWrap {
    display: flex;
    flex-direction: column;
    h2 {
        color: #eee;
        font-weight: normal;
        font-size: 30px;
    }
}
.title {
    height: auto;
    font-weight: 700;
    color: #eee;
}
.dontRTitle {
    font-size: 38px;
}
.dontRDescTitle {
    font-size: 30px !important;
}
.button {
    margin-top: 20px;
}

.self,
.blogArticle {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.self {
    .forPhone({
        flex-direction: column;
        height: 800px;
        .imgWrap {
            width: 100%;
            flex: 3!important;
        }
        .introduce {
            padding: 0;
            padding-top: 40px;
        }
    });
    .imgWrap {
        text-align: center;
        height: 100%;
        flex: 1;
        background: #6d8bea url('../../assets/selfbg.png') center/contain no-repeat;
        overflow: hidden;
    }
}

.introduce {
    flex: 1;
    height: 100%;
    padding: 30px 0px 30px 100px;
    h2 {
        font-size: 32px;
    }
}

.cardWrap {
    position: relative;
    & > div {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        left: 20px;
        top: -80px;
        width: calc(100% - 40px);
    }
}

.cardTitle {
    margin-top: 10px;
    position: relative;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 1px;
    //   width: 50px;
    //   background-color: rgb(22, 43, 111);
    // }
}

.cardIntroduce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #999;
    height: 100%;
    & > div {
        .ellipsis(1);
    }
}

.blogArticleWrap {
    margin-top: 20px !important;
    :global {
        .ant-row {
            height: 400px;
            .forPhone(
                {
                    height: 455px;
                }
            );
            .forXs({
                height: 800px;
            });
        }
    }
}

.blogArticle {
    align-items: flex-start;
    height: 100%;
    .forXs({
        height: 40%;
    });
    .imgWrap {
        height: 100%;
        background: url('~@/assets/cover.jpg') center/cover no-repeat;
    }
}

.footer {
    color: #fff;
    margin-top: 40px !important;
    background-color: @themeBgColor;
    padding: 40px 0;
}

.footerLeft {
    display: flex;
    align-items: center;
}

.footerRight {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.footerTitle {
    margin-bottom: 10px;
    font-style: 24px;
}

.footerDec {
    color: #eee;
    display: block;
}
