.bannerWrap {
    background-color: @themeBgColor;
}
.banner {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 100%;
    }
}
.titleWrap {
    display: flex;
    flex-direction: column;
    h2 {
        color: #eee;
        font-weight: normal;
        font-size: 30px;
    }
}
.title {
    height: auto;
    font-weight: 700;
    color: #eee;
    font-size: 38px;
}
.button {
    margin-top: 20px;
}

.self,
.blogArticle {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.self {
    .imgWrap {
        height: 100%;
        text-align: center;
        flex: 1;
        background: #6d8bea url(../../assets/selfbg.png) center/55% no-repeat;
        overflow: hidden;
    }
}

.introduce {
    flex: 1;
    height: 100%;
    padding: 30px 0px 30px 100px;
    h2 {
        font-size: 32px;
    }
}

.cardWrap {
    height: 150px;
    position: relative;
    & > div {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: -80px;
        width: 100%;
    }
}

.cardTitle {
    margin-top: 10px;
    position: relative;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 1px;
    //   width: 50px;
    //   background-color: rgb(22, 43, 111);
    // }
}

.cardIntroduce {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #999;
    height: 100%;
}

.blogArticleWrap {
    margin-top: 20px !important;
}

.blogArticle {
    align-items: flex-start;
    height: 400px;
    .imgWrap {
        height: 400px;
        background: url('../../assets/cover.jpg') center/cover no-repeat;
    }
}
