.header {
    background-color: @themeBgColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    backdrop-filter: blur(4px);
    z-index: 999;
    :global {
        .ant-menu {
            height: 60px;
            background-color: @themeBgColor;
            width: 700px;
        }
        .ant-menu-item-selected {
            background-color: @themeBgColor!important;
            &::before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 50px;
                background-color: #fff;
            }
        }
        .ant-menu-horizontal {
            line-height: 60px;
        }
    }
}
.warp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    height: 60px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    &:hover {
        :global {
            animation: anmScale 2s ease-out infinite;
        }
    }
}

.main {
    overflow: hidden;
}
